*.ap_
*.apk
*.bak
*.class
*.dex
*.iml
*.ipr
*.iws
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
.buildpath
.classpath
.cproject
.externalToolBuilders/
.idea/
.loadpath
.metadata
.project
.settings/
bin/
gen/
local.properties
proguard/
tmp/
lint.xml
proguard-project.txt
